/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIÁVEIS */
:root {
  --primary: #2563eb;
  --dark: #0f172a;
  --light: #f8fafc;
  --glass: rgba(15, 23, 42, 0.7);
}

/* BASE */
body {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  background: var(--light);
  color: var(--dark);
}

/* CONTAINER */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.hero-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  flex-wrap: nowrap;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* mantém alinhado à esquerda */
  gap: 10px;
}

.hero-text h2 {
  font-size: 3.5rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.hero-text p {
  font-size: 1.1rem;
  max-width: 480px;
  margin-top: 1rem;
  color: #64748b;
}

.hero-image img {
  width: 280px;
  height: 280px;
  object-fit: cover;
  border-radius: 5%;
  filter: grayscale(100%);
  transition: all 0.2s ease;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* hover: vira colorido */
.hero-image img:hover {
  filter: grayscale(0%);
  transform: scale(1.05);
}

.social-links {
  display: flex;
  gap: 12px;
  margin-top: 1rem;
}

.social-links a {
  position: relative;
  transition: all 0.3s ease;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  color: #777777; /* cor neutra inicial */
  font-size: 18px;
}

/* LINKEDIN */
/* LINKEDIN */
/* LINKEDIN */
.social-links a.linkedin:hover {
  color: #0A66C2;
}

/* GITHUB */
body.light .social-links a.github:hover {
  color: #24292e;
}

body.dark .social-links a.github:hover {
  color: #f0f6fc;
}

/* INSTAGRAM */
.social-links a.instagram:hover {
  color: #E1306C;
}

.social-links a:hover {
  transform: translateY(-4px) scale(1.05);
  box-shadow: 0 0 12px currentColor, 0 0 24px currentColor;
}

.social-links img {
  width: 18px;
  height: 18px;
}

/* SOBRE MIM */
.tech-stack {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.tech-item {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 1rem 1.2rem;

  border-radius: 18px;

  background: rgba(255,255,255,0.7);

  border: 1px solid rgba(0,0,0,0.06);

  backdrop-filter: blur(12px);

  transition: all 0.35s ease;

  color: #0f172a;

  cursor: default;
}

body.dark .tech-item {
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.08);

  color: #f8fafc;
}

.tech-item i,
.tech-item span {
  font-size: 1rem;
  transition: all 0.35s ease;
}

.tech-item.ruby:hover,
.tech-item.rails:hover {
    color: #cc342d;

  box-shadow:
    0 0 12px rgba(204,52,45,0.5),
    0 0 24px rgba(204,52,45,0.3);
  transform: translateY(-4px);
}

.tech-item.ruby:hover i,
.tech-item.rails:hover i {
  color: #cc342d;
}

.tech-item.js:hover {
  border-color: #f7df1e;
  box-shadow:
    0 0 12px rgba(247,223,30,0.5),
    0 0 24px rgba(247,223,30,0.3);
  transform: translateY(-4px);
}

.tech-item.js:hover i,
.tech-item.js:hover span {
  color: #f7df1e;
}

.tech-item.html:hover {
  border-color: #e34f26;
  box-shadow:
    0 0 12px rgba(227,79,38,0.5),
    0 0 24px rgba(227,79,38,0.3);
  transform: translateY(-4px);
}

.tech-item.html:hover i,
.tech-item.html:hover span {
  color: #e34f26;
}

.tech-item.css:hover {
  border-color: #1572b6;
  box-shadow:
    0 0 12px rgba(21,114,182,0.5),
    0 0 24px rgba(21,114,182,0.3);
  transform: translateY(-4px);
}

.tech-item.css:hover i,
.tech-item.css:hover span {
  color: #1572b6;
}

.tech-item.bootstrap:hover {
  border-color: #7952b3;
   box-shadow:
    0 0 12px rgba(121,82,179,0.5),
    0 0 24px rgba(121,82,179,0.3);
  transform: translateY(-4px);
}

.tech-item.bootstrap:hover i,
.tech-item.bootstrap:hover span {
  color: #7952b3;
}

body.light .tech-item.github:hover {
  color: #24292e;

  box-shadow:
    0 0 12px rgba(36,41,46,0.2),
    0 0 24px rgba(36,41,46,0.15);
}

body.dark .tech-item.github:hover {
  color: #f8fafc;

  box-shadow:
    0 0 12px rgba(255,255,255,0.3),
    0 0 24px rgba(255,255,255,0.2);
}

.tech-item.sql:hover {
  border-color: #4db6ac;
  box-shadow:
    0 0 12px rgba(77,182,172,0.5),
    0 0 24px rgba(77,182,172,0.3);
  transform: translateY(-4px);
}

.tech-item.sql:hover i,
.tech-item.sql:hover span {
  color: #4db6ac;
}

.tech-item:hover {
  transform: translateY(-4px);
}

/* NAVBAR PREMIUM */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  background: var(--glass);
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  color: white;
}

.nav a {
  color: white;
  text-decoration: none;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary);
  left: 0;
  bottom: -3px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

.lang-switch {
  display: flex;   /* 👈 resolve o problema de ficar um em cima do outro */
  gap: 8px;
}

/* BOTÕES DE IDIOMA */
.lang-switch button {
  margin-left: 5px;
  display: flex;
  gap: 8px;
  padding: 5px 8px;
  border: none;
  border-radius: 6px;
  background: var(--primary);
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* HERO */
.hero {
  padding: 8rem 0 6rem;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
}

.hero p {
  margin-top: 1rem;
  color: #555;
}

.btn {
  display: inline-block;
  margin-top: 1.5rem;
  background: var(--primary);
  color: white;
  padding: 0.8rem 1.6rem;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(1.05);
}

/* SEÇÕES */
.section {
  padding: 6rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
}

.section .container {
  max-width: 900px;
}

/* CARDS */
.projects-grid {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}

/* CARD */
.project-card {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 1.5rem;
  border-radius: 18px;
  background: transparent;
  backdrop-filter: none;
  border: 1px solid rgba(0,0,0,0.08);
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
  filter: blur(8px);
  box-shadow: 0 10px 30px rgba(0,0,0,0.04);
}

.project-card:hover img {
  transform: scale(1.06);
}

.project-card:nth-child(odd) {
  padding-right: 2rem;
  transform: translateX(-60px);
}

.project-card:nth-child(even) {
  flex-direction: row-reverse;
  transform: translateX(60px);
  padding: 2rem;
}

.project-image img {
  width: 100%;
  height: auto;
  max-height: 260px;
  object-fit: cover;
  border-radius: 14px;
  transition: transform 0.6s ease;
}

.project-image {
  max-width: 55%;
  height: 300px;
  flex: 1;
  overflow: hidden;
  border-radius: 14px;
}

.project-card.show {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* CONTEÚDO */
.project-content {
  flex: 0 0 45%;
  max-width: 520px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.project-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 0.5rem;
}

.project-content p {
  font-size: 1rem;
  color: #64748b;
  max-width: 55ch;
  opacity: 0.8;
}

/* TAG */
.tag {
  font-size: 0.7rem;
  padding: 4px 10px;
  border-radius: 999px;
  background: rgba(0,0,0,0.05);
  width: fit-content;
}

/* TEXTO */
.project-content p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #64748b;
}

/* BOTÃO */
.project-button {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--primary);
  width: fit-content;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.project-button::after {
  content: "→";
  margin-left: 6px;
  transition: 0.3s;
}

.project-button:hover::after {
  margin-left: 10px;
  transform: translateX(4px);
}

/* DARK MODE */
body.dark .project-card {
  border: 1px solid rgba(255,255,255,0.08);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
}

body.dark .tag {
  background: rgba(255,255,255,0.1);
}

body.dark .project-button {
  text-decoration: none;
  color: white;
}

.projects {
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.projects h2 {
  position: relative;
  z-index: 3; /* 👈 título sempre acima */
}



/* ANIMAÇÃO BASE */
[data-animate] {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

[data-animate].active {
  opacity: 1;
  transform: translateY(0);
}

body.dark {
  background: #020617;
  color: #e2e8f0;
}

body.dark .card {
  background: #0f172a;
}

body.dark .header {
  background: rgba(2,6,23,0.7);
}

body.light {
  background: #f8fafc;
  color: #0f172a;
}

/* FOOTER */
.footer {
  position: relative;
  width: 100%;
  margin-top: 6rem;
  padding: 2rem 0 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  color: #64748b;
  opacity: 0;
  transform: translateY(30px);
  filter: blur(8px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
}

.footer::before {
  content: "";

  position: absolute;
  top: 0;
  left: 50%;

  transform: translateX(-50%);

  width: 100%;
  height: 1px;

  background: linear-gradient(
    to right,
    transparent,
    rgba(0,0,0,0.2),
    transparent
  );
}

body.dark .footer {
  color: rgba(255,255,255,0.6);
}

body.dark .footer::before {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.2),
    transparent
  );
}

/* MOBILE */
.menu-toggle {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 50%;
  background: var(--primary);
  color: white;
  font-size: 18px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  transition: 0.3s;
}

@media (max-width: 768px) {
    .hero-content {
    flex-direction: column-reverse;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .hero-image img {
    width: 200px;
    height: 200px;
  }

  .nav-links {
    display: none;
    position: absolute;
    right: 20px;
    top: 70px;
    background: var(--dark);
    padding: 1rem;
    border-radius: 10px;
    flex-direction: column;
  }

  .nav-links.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
  }

  .project-card {
    grid-template-columns: 1fr;
    flex-direction: column;
    text-align: center;
  }

  .project-image {
    order: 0 !important;
    width: 100%;
    max-width: 100%;
    height: 200px;
  }

  .project-content {
    max-width: 100%;
  }

  .tech-stack {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .tech-stack {
    grid-template-columns: 1fr;
  }
}

/* CONTAINER DOS CONTROLES */
.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* BOTÕES PADRÃO */
.lang-switch button,
.theme-toggle {
  all: unset;
  width: 38px;
  height: 38px;
  border: none;
  border-radius: 10px;
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(6px);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.25s ease;
}

/* HOVER */
.lang-switch button:hover,
.theme-toggle:hover {
  transform: translateY(-2px);
}

/* ÍCONES SVG */
.lang-switch img {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 3px;
}

/* DARK MODE ICON */
.theme-toggle .icon {
  font-size: 16px;
}

.section:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 30%;
  height: 1px;
  margin: 4rem auto 0;
  background: linear-gradient(
    to right,
    transparent,
    rgba(0,0,0,0.3),
    transparent
  );
  opacity: 0.6;
}

body.dark .section:not(:last-of-type)::after {
  background: linear-gradient(
    to right,
    transparent,
    rgba(255,255,255,0.3),
    transparent
  );
}
